# Web (Vercel)
NEXT_PUBLIC_WEB_URL=http://blockd2d.com
NEXT_PUBLIC_API_URL=vck_05jc3eMKfDLcFgSsUsBqy2F5LQXXAWwSdXPgJlUfO248hHd6IL29CRoz #api key not url yet

# Mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=pk.***

# PostHog
NEXT_PUBLIC_POSTHOG_KEY=phc_***
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com

# Feature flags
NEXT_PUBLIC_FEATURE_MESSAGES_INTERVENE=false
