# Web (Vercel)
# Optional: set to 1 to skip Next.js lockfile patching (e.g. on Windows if dev script doesn't set it)
# NEXT_IGNORE_INCORRECT_LOCKFILE=1
NEXT_PUBLIC_WEB_URL=http://blockd2d.com
NEXT_PUBLIC_API_URL= https://api.blockd2d.com
#vck_05jc3eMKfDLcFgSsUsBqy2F5LQXXAWwSdXPgJlUfO248hHd6IL29CRoz #api key not url yet

# Mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoiYmxvY2tkMmQiLCJhIjoiY21sZTcxeDVrMHhnNDNmcTN5NHduMHhkbCJ9.IUd682Y8Oin4RNb6ib_g4Q

# PostHog
NEXT_PUBLIC_POSTHOG_KEY=phx_TTlyaqdv7IGOBzELFh3d2MKrGBcCHFKdVybYQL9XzOQidXn
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com

# Feature flags
NEXT_PUBLIC_FEATURE_MESSAGES_INTERVENE=false
