# Expo
EXPO_PUBLIC_API_URL=http://localhost:4000

# PostHog (optional)
EXPO_PUBLIC_POSTHOG_KEY=phc_pUrf467EtzCnCehcvgui2SmWCJmks9H8Nw1I0DjePsu #this is the project id
EXPO_PUBLIC_POSTHOG_HOST=https://app.posthog.com
