# Open Terminal from @blockd2d/shared
# npm version patch
# npm publish --registry=https://npm.pkg.github.com

registry=https://registry.npmjs.org/
@blockd2d:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
always-auth=true